/* Header Styles */

/* General header styles */
header {
    height: 100vh;
    padding: 0rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* CTA styling */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* SOCIALS */
.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 2%;
    bottom: 3rem;
    color: white;
}

.socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: white;
}

/* My image */
.me {
    width: 20rem;
    height: 20rem;
    position: relative;
    margin-top: 2rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 0rem 1.5rem 1.5rem 1.5rem;
}

/* Scroll down */
.scroll__down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    bottom: 1rem;
    font-weight: 300;
    font-size: 1rem;
    color: white; 
}

/* Media Queries */

/* Medium devices */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* Small devices */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .me {
        width: 15rem;
        height: 15rem;
        margin-top: 1rem;
    }

    .scroll__down {
        display: flex;
        position: static;
        margin-top: 1rem;
    }
}
