.portfolio__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.pt__items{
    background: transparent;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}
.pt__items:hover{
    border-color: white;
    background: grey;
}
.pt__items-image{
    border-radius: 1.5rem;
    overflow: hidden;
    

}
.pt__items h3{
    margin: 1.2rem 0 2rem;
}
.pt__items-cta{
    /* display: flex; */
    gap: 2rem;
    margin-bottom: 1rem;
}
.btn-primary{
    /* display: flex; */
    margin-left: 0.7rem;
    margin-bottom: 1rem;
   
}

/* 
Meduim devices */
@media screen and(max-width: 1024px){
    .portofolio__container{
       grid-template-columns: 1fr 1fr;
       gap: 1.2rem;
    }

    
   
}
/* Small devices */
@media screen and(max-width: 600px){
    .portfolio__container{
       grid-template-columns: 1fr;
       gap: 1rem;
       
    }
  
   
} 