.container.contact__container{
    width: 70%;
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}
.contact__option{
    background: plum;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent;
    border-color: white;
}
.contact__option-icon{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}
.email{
    text-align: center;
    font-size: 0.5rem;
    padding-left: 20%;
    /* display: inline-block; */
}

/* Form styling */
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid plum;
    resize: none;
    color: white;
}

/* 
Meduim devices */
@media screen and(max-width: 1024px){
    .container.contact__container{
       grid-template-columns: 1fr;
       gap: 2rem;
    }
}
/* Small devices */
@media screen and(max-width: 600px){
    .container.contact__container{
        width: var(--container-width-sm);
      
     }
} 

