@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* background-color: navy; */
   
}
:root{ 
    /* --color-bg: antiquewhite; */
    --color-bg-variant: var(--color-white);
    --color-primary: plum;
    /* rgb(86, 86, 245) */
    --color-primary-variant: var(--color-white);
    --color-white: white;
    --color-light: rgba(255, 255, 255, 0.6);
    text-align: center;
    --transition: all 400ms ease;

    --container-width-lg:75%;
    --container-width-md:86%;
    --container-width-sm: 90%;


}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: 'Edu NSW ACT Foundation', cursive;
    /* background: var(--color-bg); */
    color: var(--color-white);
    line-height: 1.9;
    background-color: black;
/*      background-image: url(../src/assets/me1.jpg)  */
}

/* General styles */
.container{
    width: var(--container-width-lg);
    margin: 0 auto;

}
h1, h2, h3, h4, h5{
    font-weight: 500;
    font-size: 1.3rem;
    
}
h1{
    font-size: 3rem;
    color: white;
   
}
section{
    margin-top: 8rem;
   
}
section > h2, section > h5{
    text-align: center;
    color: white;
    font-weight: 400;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-size: 1rem;
}
section > h2{
    color: white;
    /* rgb(86, 86, 245) */
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: bolder;
    
}
.text-light{
    color: white;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
}
a{
    color: plum;
    transition: var(--transition);
  
}
a:hover{
    color: white;
}
.btn{
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
    font-weight: 400;
}
.btn:hover{
    background: plum;
    color: black;
    border-color: transparent;
    

}
.btn-primary{
    background: white;
    color: black;
}
img{
    display: block;
    width: 100%;
    
    object-fit: cover;
}

/* Media Queries */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-top: 2rem;
    }
}
