.certifcates__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.ct__items{
    background: transparent;
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}
.ct__items:hover{
    border-color: white;
    background: grey;
}
.ct__items-image{
    border-radius: 1.5rem;
    overflow: hidden;
    

}
.ct__items h5{
    font-size: medium;
    font-weight: 400;
}
/* .ct__items h2, h5{
    margin: 1.2rem 0 2rem;
} */

.btn-primary{
    /* display: flex; */
    margin-left: 0.7rem;
    margin-bottom: 1rem;
   
}

/* 
Meduim devices */
@media only screen and(max-width: 1024px){
    .certificates__container{
       grid-template-columns: 1fr 1fr;
       gap: 1.2rem;
    }

    
   
}
/* Small devices */
@media only screen and(max-width: 600px){
    .certificates__container{
       grid-template-columns: 1fr;
       gap: 1rem;
       
    }
  
   
} 